/target
node_modules
*.slir
/out
.DS_Store
/clients/web/dist
/clients/web/LICENSE
/packages/slab/dist
/packages/slab/wasm
/packages/slab/LICENSE*
/site/dist
/examples/web-demo/dist
/editors/vscode/dist
/editors/vscode/LICENSE
/clients/web/wasm
/clients/go/slab/slab_abi.wasm.gz
/clients/python/src/slab/slab_abi.wasm.gz
/clients/swift/Sources/Slab/Resources/slab_abi.wasm
/gen/web-runtime
/packages/dslab/dist

clients/swift/.build/
